{% extends "./base.html"%}

{% load static %}

{% block title %}
  我的博客
{% endblock title%}

{% block content %}
<div class='container'>
  <img src="{% static 'images/header.jpg' %}" class='img-responsive center-block'>
</div>
<article class='col-xs-12 col-md-8'>
<h1>博客</h1>
  {% for post in posts %}
  <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
  <p>{{ post.article_tag.all | join:"," }}<p>
  <p>{{ post.slug }}</p>
  <p>由{{ post.author }}发布于{{ post.published }} </p>
  {% endfor %}
  {% include 'blog/pagination.html' %}
</article>
<aside class="col-xs-6 col-md-4">
  <h3>标签</h3>
  {% for i in  tags %}
  <p><a href="{% url 'blog:tag' i %}">{{ i }}</a></p>
  {% endfor %}
{% endblock %}
